{% extends "base.html" %}
{% load static %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-title"><b>Category:</b>
                        <a href="{{ product.category.get_absolute_url }}">{{product.category}}</a>
                    </p>
                    {{ product.description|linebreaks }}
                    <h4>${{ product.price }}</h4>
                    <form action="{% url 'cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Add to cart">
                    </form>
                </div>
                <div class="col-4">
                    <img
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'myshop/img/no_image.png' %}{% endif %}"
                        style="max-width:300px;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}