{% extends "myshop/base.html" %}
{% load static %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'myshop/img/no_image.png' %}{% endif %}"
                 style="max-width:300px;">
        </div>
        <div class="col">
            <h1>{{ product.name }}</h1>
            <h4><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h4>
            <br>
            <h3>${{ product.price }}</h3>
            <form action="{% url 'cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }}
                <input class="btn btn-primary" type="submit" value="Add to cart">
            </form>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ product.description|linebreaks }}</p>
            </div>
        </div>


    </div>
</div>
{% endblock %}