{% extends "myshop/base.html" %}
{% load static %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'myshop/img/no_image.png' %}{% endif %}" style="max-width:400px;">
        </div>
        <div class="col">
            <h1>{{ product.name }}</h1>
            <h4><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h4>
            <h2>${{ product.price }}</h2>
            {{ product.description|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}