{% extends "myshop/base.html" %}
{%load static%}

{% block title %}
    {% if category %} {{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{%block sidebar%}
<div class="flex-shrink-0 p-3 bg-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">MY SHOP</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-2">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                Categories
            </button>
            <div class="collapse" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left:20px;">
                    <li><a href="{% url 'product_list' %}" class="link-dark rounded">All</a></li>
                    {% for c in categories %}
                    <li><a href="{{ c.get_absolute_url }}" class="link-dark rounded">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for product in products %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'myshop/img/no_image.png' %}{% endif %}">
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}"><h5 class="card-title">{{ product.name }}</h5></a>
                <p class="card-text">{{product.description|truncatewords:15}}</p>
                <p class="card-text text-end">${{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}