{% extends "base.html" %}
{%load static%}

{% block title %}
{% if category %} {{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for product in products %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'myshop/img/no_image.png' %}{% endif %}">
            <div class="card-body" style="height: 192px;">
                <a href="{{ product.get_absolute_url }}"><h5 class="card-title">{{ product.name }}</h5></a>
                <p class="card-text">{{product.description|truncatewords:15}}</p>
                <div class="bottom-left">
                    <h4>${{ product.price }}</h4>
                </div>
                <div class="bottom-right">
                    <form action="{% url 'cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_product_form.quantity}}
                    <input class="btn btn-primary" type="submit" value="Add to cart">
                </form>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}